.sidenav{
    background-color:  #3F51B5;
    width: 200px;
}

.sidenav a {
    color: #fff !important;
}

.sidenav span {
    color: #fff !important;
}

.sidenav i {
    padding-right: 10px;
}

.mdc-list-item__primary-text {
    color: #fff !important;
}

.mdc-list-item__primary-text  {
    color: #fff !important;
}

.content{
    padding: 16px;
    background-color: #fff;
}

.mat-sidenav-content{
    padding: 16px !important;
    background-color: #fff !important;
}